In [7]:
%cd /mnt/storage/maxenis/coptic-machine-translation

/mnt/storage/maxenis/coptic-machine-translation

In [8]:
import datasets
import pandas as pd

In [3]:
old_data = datasets.load_from_disk("datasets/cop-en-romanized")
new_data = datasets.load_from_disk("datasets/second-cop-en-romanized-norm")

FileNotFoundError: Directory datasets/cop-en-romanized not found

In [4]:
old_data

DatasetDict({
    train: Dataset({
        features: ['eng', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'translation'],
        num_rows: 30655
    })
    test: Dataset({
        features: ['eng', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'translation'],
        num_rows: 500
    })
    validation: Dataset({
        features: ['eng', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'translation'],
        num_rows: 128
    })
})

In [ ]:
new_data

DatasetDict({
    train: Dataset({
        features: ['translation', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'norm_group_romanized'],
        num_rows: 31951
    })
    test: Dataset({
        features: ['translation', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'norm_group_romanized'],
        num_rows: 500
    })
    validation: Dataset({
        features: ['translation', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'norm_group_romanized'],
        num_rows: 128
    })
})

In [ ]:
def startswith_num(s):
    return (s[0].isdigit() or s[1].isdigit()) and s[0] in ["1", "2", "3"]

# titles that start with number come from the old testament
old_data.filter(lambda x: startswith_num(x["meta::title"]))

Filter:   0%|          | 0/30655 [00:00<?, ? examples/s]

Filter:   0%|          | 0/500 [00:00<?, ? examples/s]

Filter:   0%|          | 0/128 [00:00<?, ? examples/s]

DatasetDict({
    train: Dataset({
        features: ['eng', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'translation'],
        num_rows: 21610
    })
    test: Dataset({
        features: ['eng', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'translation'],
        num_rows: 343
    })
    validation: Dataset({
        features: ['eng', 'norm_group', 'norm', 'func', 'pos', 'arabic', 'meta::translation', 'meta::title', 'norm_romanized', 'translation'],
        num_rows: 100
    })
})

In [ ]:
new_data.filter(lambda x: startswith_num(x["meta::title"]))

In [87]:
data = pd.read_csv("datasets/clean_data.csv")
# display how many times each author appears
# count how many times each title appears, and aggregate all authors which appear for these titles
title_counts = data["meta::title"].value_counts()
# append column of all authors for each title
title_df = data.groupby("meta::title")["meta::translation"].apply(set).reset_index(name="authors")
title_df["count"] = title_df["meta::title"].apply(lambda x: title_counts[x])
title_df[title_df["count"] == 45].sort_values("count")

,meta::title,authors,count
106,05_Deuteronomy_1,"{The Septuagint Version of the Old Testament, ...",45
309,19_Psalms_104,"{The Septuagint Version of the Old Testament, ...",45
693,40_Matthew_22,{World English Bible (WEB)},45
707,41_Mark_1,{World English Bible (WEB)},45
1136,Mark Chapter 1,{World English Bible (WEB)},45